.playlistContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  /* margin: 0 30px 30px 30px; */
  /* padding: 35px; */
  /* background-color: #515d6d; */
  border-radius: 15px;
  border: none;
  width: 65%;
  /* min-width: 500px; */
}
